<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lucky13">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.lucky13."
        tools:targetApi="31">
        <activity
            android:name=".activities.doctor_path.ShowAppts"
            android:exported="false" />
        <activity
            android:name=".activities.doctor_path.DoctorHomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".activities.doctor_path.PatientPresentationActivity"
            android:exported="false" />

        <service
            android:name=".notification.FirebaseMessagingService"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDZG9-0a6j4ImKeIM9YnsBsa-EreiT9kSc" />

        <activity
            android:name=".activities.patient_path.AfterAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient_path.BookAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.doctor_path.GeneralScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient_path.DoctorPresentationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient_path.FindDoctorsNearby"
            android:exported="false" />
        <activity
            android:name=".activities.patient_path.ShowClinics"
            android:exported="false" />
        <activity
            android:name=".activities.patient_path.menu_options.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient_path.menu_options.YourHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient_path.menu_options.YourProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient_path.side_bar.DrawerBaseActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient_path.PatientHomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".activities.doctor_path.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".activities.doctor_path.ApptEventFormActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient_path.BMICalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient_path.menu_options.UpdateBMIActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient_path.DiseasesShowActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient_path.PatientQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient_path.GeneralSymptomSelect"
            android:exported="false" />
        <activity
            android:name=".activities.patient_path.CreatePatientAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activities.doctor_path.CreateDoctorAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activities.patient_path.PatientInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.common_activities.GenderSelectActivity"
            android:exported="false" />
        <activity
            android:name=".activities.common_activities.RoleSelectActivity"
            android:exported="false" />
        <activity
            android:name=".activities.common_activities.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activities.common_activities.WelcomePage"
            android:exported="false"
            android:label="@string/homeActivity" />
        <activity
            android:name=".activities.common_activities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>